{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

{% endblock meta %}

{% block content %}


  <div id="accordion" class=wrap-accordion> 
        <div class='wrapper' id="div1">
            <h3>
              Activity
        
          <span style="float:right;" class="toolbar ui-widget-header ui-corner-all">
            <button type="button" class="up" id="up-activity" onclick="foo(event);">up</button>
            <button type="button" class="down" id="down-activity" onclick="foo(event);">down</button>
          </span>
          </h3>
      
          <div>
          <ul>
            <li>Belajar</li>
            <li>Tidur</li>
            <li>Procras</li>
            <li>ngerjain tugas tapi kok gk bisa-bisa</li>
          </ul>
          </div>
    
        </div>
        
    <div class='wrapper' id="div2">
      
        <h3>Deskripsi Diri
          <span style="float:right;" class="toolbar ui-widget-header ui-corner-all">
            <button type="button" class="up"  id="up-prestasi" onclick="foo(event);">up</button>
            <button type="button" class="down" id="down-prestasi" onclick="foo(event);">down</button>
          </span>
        </h3>
        <div>
        <p>Saya adalah orang yang masih belum paham tentang JavaScript, story 7 saya gagal. Accordionny tidak mau swap dengan diatasnya, semua 
          semua cara sudah saya tempuh, mulai dari searching sampai kurang lebih 50 browser saya buka, bertanya kepada teman yang OP, bertanya
          kepada asdos, tapi tak kunjung mendapatkan jawaban. tapi saya yakin dan percaya semester depan saya magang di facebook (gak nyambung kan)
        </p>

        </div>
    </div>

    <div class='wrapper' id="div3">
      <h3>Prestasi
        <span style="float:right;" class="toolbar ui-widget-header ui-corner-all">
          <button type="button" class="up"  id="up-pengalaman" onclick="foo(event);">up</button>
          <button type="button" class="down" id="down-pengalaman" onclick="foo(event);">down</button>
        </span>
      </h3>
      <div>
      <ul>
        <li>Bisa begadang</li>
        <li>Ngerjain tugas ppw dengan cepat</li>
      </ul>
      </div>
  </div>

  <div class='wrapper' id="div4">
    <h3>Pengalaman Organisasi
      <span style="float:right;" class="toolbar ui-widget-header ui-corner-all">
        <button type="button" class="up"  id="up-pengalaman" onclick="foo(event);">up</button>
        <button type="button" class="down" id="down-pengalaman" onclick="foo(event);">down</button>
      </span>
    </h3>
    <div>
    <ul>
      <li>RISTEK</li>
      <li>OSIS</li>
      <li>Remaja Masjid</li>
    </ul>
    </div>
  </div>
 </div>


{% endblock content %}
